
.button {
    -fx-background-color: #e0e0e0;
}

.button:hover {
    -fx-background-color: #C8CDE5;
}

#info {
    -fx-font-weight: bold;
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
}

